.material {
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
}

.button1 {
  margin: 5px;
  height: 50px;
  margin-top: 20px;
}
.button2 {
  margin: 5px;
  height: 50px;
  margin-top: 20px;
}

p {
  margin: 10px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.size {
  display: flex;
  margin-bottom: 20px;
}

.color {
  display: flex;
  margin-bottom: 20px;
}

.result {
  display: flex;
}

.space {
  padding-right: 80px;
}

.space1 {
  padding-right: 35px;
}

.space2 {
  padding-right: 70px;
}
